<div id="code"   class="bs-callout bs-callout-success">
    <p><strong>Code:</strong></p>
    <ul>
        <li>
            <p><%= key + '.ejs' %></p>
            <pre><code class="html"><%= files.ejs %></code></pre>
        </li>
        <% if (files.coffee){ %>
          <li>
              <p><%= key + '.coffee' %></p>
              <pre><code class="coffeescript"><%- files.coffee %></code></pre>
          </li>
        <% } else { %>
          <li>
              <p><%= key + '.js' %></p>
              <pre><code class="javascript"><%- files.js %></code></pre>
          </li>
        <% }; %>
        <% if (files.stylus){ %>
            <li>
                <p><%= '_' + key + '.styl' %></p>
                <pre><code><%- files.stylus %></code></pre>
            </li>
        <% }; %>
        <% if (files.d3utils){ %>
            <li>
                <p>d3js-utils.coffee</p>
                <pre><code><%- files.d3utils %></code></pre>
            </li>
        <% }; %>
    </ul>
    <script type="text/javascript" src="/vendors/bower/highlightjs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</div>
