<%  demo = {category: "d3js", key: "bubbles", files: files}; %>

<%- partial("../mixins/_demo_title", demo) %>

<div id="chart" class="<%= demo.key %>-chart"></div>

<script type="text/javascript" src="/vendors/bower/d3/d3.min.js"></script>
<script type="text/javascript" src="/vendors/bower/nvd3/nv.d3.min.js"></script>
<link rel="stylesheet" type="text/css" href="/vendors/bower/nvd3/nv.d3.min.css">
<script type="text/javascript" src="/js/d3js/<%= demo.key %>.js"></script>

<%- partial("../mixins/_notes", demo) %>
<%- partial("../mixins/_sources_data", demo) %>
<%- partial("../mixins/_code", demo) %>