<%  demo = {category: "d3js", key: "mareys-schedule", files: files}; %>

<%- partial("../mixins/_demo_title", demo) %>

<p><div class="slider"></div></p>
<div id="chart" class="<%= demo.key %>-chart" style="margin-top: 30px;"></div>

<script type="text/javascript" src="/vendors/bower/d3/d3.min.js"></script>
<script type="text/javascript" src="/vendors/bower/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/vendors/bower/jquery-ui/ui/slider.js"></script>
<link rel="stylesheet" type="text/css" href="/vendors/bower/jquery-ui/themes/base/theme.css">
<link rel="stylesheet" type="text/css" href="/vendors/bower/jquery-ui/themes/base/slider.css">
<script type="text/javascript" src="/js/d3js-utils.js"></script>
<script type="text/javascript" src="/js/d3js/<%= demo.key %>.js"></script>

<%- partial("../mixins/_notes", demo) %>
<%- partial("../mixins/_sources_data", demo) %>
<%- partial("../mixins/_code", demo) %>