<%  demo = {category: "d3js", key: "pie", files: files}; %>

<%- partial("../mixins/_demo_title", demo) %>

<form><button id="change-data" class="btn btn-success" type="button">Change</button></form>

<div id="chart" class="<%= demo.key %>-chart"></div>

<script type="text/javascript" src="/vendors/bower/d3/d3.min.js"></script>
<script type="text/javascript" src="/js/d3js/pie.js"></script>

<%- partial("../mixins/_notes", demo) %>
<%- partial("../mixins/_sources", demo) %>
<%- partial("../mixins/_code", demo) %>